@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    /*
    --color-darkgray: rgb(61, 59, 60);
    */

    --color-fundo: rgb(233, 227, 230);
    --color-destaqueescuro: rgb(56, 54, 54);
    --color-destaque: rgb(209, 200, 200);
}

body {
    background: var(--color-fundo);
    font-family: 'Montserrat', sans-serif;
}

#logo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    /*
    border: 3px solid var(--color-destaque);
    */
}

#user {
    text-align: center;
    margin: 3%;
}

#user a{
    text-decoration: none;
    color: var(--color-destaqueescuro);
    font-size: 35px;
    font-weight: bold;
}

#user a span {
    
    text-decoration: underline;
}

.opcoes{
    text-align: center;
    padding: 2%;
    font-size: 4vmax;
    line-height: 8vh;
}

.opcoes a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(134, 122, 134);
}

.opcoes a:hover {
    transition: 200ms;
    color: violet;
}